# Игнорировать файлы и директории, созданные Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы конфигурации среды
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Игнорировать файлы и директории, созданные редакторами и IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Игнорировать файлы и директории, созданные Docker
Dockerfile
docker-compose.yml
